body{
    margin: 0;
    padding: 0;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center; 
    background-color: #111A27;
}

/************************************************************ HORLOGE ******************************************************************************/

#horloge {
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fleches {
    border-radius: 20px;
}

#fleche-h {
    position: absolute;
    height: 250px;
    width: 13px;
    background: linear-gradient(to top, rgba(240, 248, 255, 0) 50%, aliceblue 90%) ;
    transform: rotate(0deg);
    z-index: 0;
}

#fleche-m {
    position: absolute;
    height: 370px;
    width: 7px;
    background: linear-gradient(to top, rgba(240, 248, 255, 0) 50%, aliceblue 100%) ;
    transform: rotate(100deg);
    z-index: 1;
}

#fleche-s {
    position: absolute;
    height: 400px;
    width: 3px;
    background: linear-gradient(to top, rgba(240, 248, 255, 0) 50%, #6E2920 100%) ;
    transform: rotate(120deg);
    z-index: 2;
}

#format-h{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 20px;
    background-color: #1F1513;
    transform: translateY(-150px);
    font-weight: 600;
    color: #FBD3CB;
    font-family: 'Courier New', Courier, monospace;
    border: 3px solid #6E2920;
    border-radius: 5px;
}


#centre {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #5E1C16;
    border-radius: 50%;
    z-index: 3;
}

.index {
    position: absolute;
    height: 500px;
    width: 12px;
    background: linear-gradient(to top,aliceblue 0%,  rgba(240, 248, 255, 0) 7%, rgba(240, 248, 255, 0) 93%, aliceblue 100%);
}

.rev {
    transform: rotate(90deg);
}


.ss-index {
    position: absolute;
    height: 500px;
    width: 3px;
    background: linear-gradient(to top,aliceblue 0%,  rgba(240, 248, 255, 0) 5%, rgba(240, 248, 255, 0) 95%, aliceblue 100%);
}

#ss-index1 {
    transform: rotate(30deg);
}
#ss-index2 {
    transform: rotate(60deg);
}
#ss-index3 {
    transform: rotate(120deg);
}
#ss-index4 {
    transform: rotate(150deg);
}

/******************************************************** ClockBoard  ************************************************************************/
